<!DOCTYPE html>
<html>
<head>
  <title><%= content_for(:title) || "App" %></title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= yield :head %>

  <link rel="manifest" href="/manifest.json">
  <link rel="icon" href="/icon.png" type="image/png">
  <link rel="icon" href="/icon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="/icon.png">
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>

<header>
  <nav class="navbar">
    <div class="container">
      <h1 class="navbar-brand">Your Application</h1>
      <div class="nav-links">
        <%= link_to 'Task 1', task1_path, class: 'nav-link btn-primary', title: 'Validate XHTML' %>
        <%= link_to 'Task 2', task2_path, class: 'nav-link btn-secondary', title: 'Divide by Zero' %>
        <%= link_to 'Task 3', task3_path, class: 'nav-link btn-success', title: 'Fetch data' %>
      </div>
    </div>
  </nav>
</header>


<%= yield %>

</body>
</html>
